{
    "extends": "standard",
    "rules": {
        "semi": ["error", "always"],
        "camelcase": "off",
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 2],
        "prefer-const": ["error", {
            "destructuring": "any",
            "ignoreReadBeforeAssign": false
        }],
        "space-before-function-paren": ["error", "never"]
    }
}