{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups",
        "groups": ["builtin", "external", ["internal", "parent", "sibling", "index"]]
      }
    ],
    "no-case-declarations": "warn",
    "no-nested-ternary": "warn",
    "no-param-reassign": "warn",
    "no-underscore-dangle": 0,
    "prefer-arrow-callback": "warn"
  }
}